<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="layout :: site-head">
<title th:text="${post.title}">View Post</title>
</head>
<body>
	<header th:replace="layout :: header"></header>
	<main class="container">
	<div class="card card-outline-danger bg-light">
		<div class="dropdown" style="text-align: right;">
			<button class="pull-right btn unstyled dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false"
			></button>
			<div th:if="${post.getAuthor()} == ${currentUser}">
				<div class="dropdown-menu  dropdown-menu-left" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" th:href="@{'/posts/'+${post.getId()}+'/delete'}">Delete</a>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="media" style="margin-left: -10px;">
				<figure>
					<a th:href="@{'/users/'+${post.getAuthor().getUsername()}+'/profile'}">
						<img class="rounded d-flex mx-2" th:src="@{${post.getAuthor().getProfilePictureUrl()}}" width="45px" />
					</a>
					<br />
					<figcaption class="d-flex text-center justify-content-center">
						<span id="points" class="d-flex flex-column justify-content-center mr-2" th:text="${post.getPoints()}"></span>
						<div class="d-flex flex-column justify-content-center">
							<button id="arrow-up" class="fas fa-arrow-up unstyled"></button>
							<span class="fas fa-circle unstyled my-1" style="font-size: 0.5em"></span>
							<button id="arrow-down" class="fas fa-arrow-down unstyled"></button>
						</div>
					</figcaption>
				</figure>
				<div class="media-body">
					<h6>
						<a class="ml-1" th:href="@{'/users/'+${post.getAuthor().getUsername()}+'/profile'}"
							th:text="${post.getAuthor().getUsername()}"
						>Author Username</a>
					</h6>
					<p>
						<i class="fa fa-calendar-alt"></i>
						<small class="text-muted" th:text="${post.getTimePassed()}"> Updated x ago</small>
					</p>
					<h4 class="media-body" th:if="${post.getTitle()} != null" th:text="${post.getTitle()}">Text Title</h4>
					<div class="media-body" th:text="${post.getBody()}">Text Body</div>
					<ul class="list-inline list-unstyled">
						<li class="list-inline-item">
							<button class="unstyled" id="comments">
									<i class="fa fa-comments"></i>
									<span th:text="${post.getComments().size()>1} ? ${post.getComments().size()} + ' Comments |' : ${post.getComments().size()} + ' Comment |'">x Comments |</span>
							</button>
						</li>
						<li class="list-inline-item">
							<i class="fa fa-tags"></i>
							Tags:
						</li>
						<li class="list-inline-item" th:each="tag : ${post.getTags()}">
							<a th:href="@{'/tags/'+${tag.getId()}+'/view'}">
								<span class="badge badge-primary" th:text="${tag.getTag()}">Rock</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div>
		<ul class="list-group">
			<li class="list-group-item" th:each="comment : ${post.getComments()}">
				<div th:replace="layout::comment-body"></div>
			</li>
		</ul>
	</div>
	</main>
	<footer th:replace="layout :: footer"></footer>
</body>
<script type="text/javascript">
	$('#hide-button').click(function() {
		var $target = $(this).parents('li');
		$target.fadeOut("slow");
	});
</script>
</html>
