<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="layout::site-head">
<title th:text="|${user.getUsername()}'s Config|">user Config</title>
</head>
<body>
	<header th:replace="layout::header"></header>
	<main class="container" th:fragment="config-page">
	<div>
		<h2 th:text="|${user.getUsername()}'s Config|">user Config</h2>
		<hr class="hr_heading" />
	</div>
	<div class="row my-2">
		<div class="col-sm-8">
			<div class="card">
				<div class="card-header bg-primary">Email Address</div>
				<div class="card-body" th:text="${user.getEmail().getEmail()}">user Address</div>
			</div>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-sm-8">
			<div class="card">
				<div class="card-header bg-info">Account Actions</div>
				<div class="card-body">
					<p>
						<a>Change user information</a>
					</p>
					<p>
						<a th:href="@{'/users/'+${user.getUsername()}+'/config/change-email'}|">Change email</a>
					</p>
					<p th:if="${!user.getEmail().isConfirmed()}">
						<a th:href="@{'/users/'+${user.getUsername()}+'/config/re-send-confirmation-email'}">Re send confirmation email</a>
					</p>
					<p>
						<a th:href="@{'/users/'+${user.getUsername()}+'/config/change-password'}">Change password</a>
					</p>
					<p>
						<a th:href="@{'/users/'+${user.getUsername()}+'/config/change-password-email'}">Send email to reset password</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-sm-8">
			<div class="card ">
				<div class="card-header bg-info">Statistics</div>
				<div class="card-body">
					<p>
						<i class="far fa-calendar"></i>
						<span th:text="| Member since: ${user.getCreatedAt()}|">Member since: dd-mm-yyyy</span>
					</p>
					<p>
						<i class="far fa-calendar"></i>
						Last logged in:
						<span th:text="${user.getLastSeen()}">Last seen</span>
					</p>
					<div th:object="${user.getEmail()}">
						<p>
							<i class="far fa-calendar"></i>
							<span th:text="*{isConfirmed()} ? ' Email confirmed: ' + *{getEmailConfirmedOn()} : ' Email has not been confirmed yet!!'"></span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
	<footer th:replace="layout::footer"></footer>
</body>
</html>