<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="layout::site-head">
<title th:text="|${user.getUsername()}'s Profile|">User Profile</title>
</head>
<body>
	<header th:replace="layout::header"></header>
	<main class="container">
	<div>
		<img class="img-thumbnail" th:src="@{${user.getProfilePictureUrl()}}" alt="User Profile Picture" width="200" height="200" />
		<div>
			<p class="badge badge-info" th:text="${user.getAboutMe()}">About me: User</p>
			<p class="badge badge-info">
				Last seen:
				<b th:text="${user.getLastSeen()}">Last seen</b>
			</p>
			<h1 class="badge badge-secondary" th:text="|${user.getUsername()}'s Profile|">User's Profile</h1>
			<div th:if="${user} != ${currentUser}">
				<a class="btn btn-primary"  th:if="${!currentUser.isFollowing(user)}" th:href="|/users/${user.getUsername()}/follow|">Follow</a>
				<a class="btn btn-secondary" th:if="${currentUser.isFollowing(user)}" th:href="|/users/${user.getUsername()}/unfollow|">Unfollow</a>
			</div>
			<br/>
		</div>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers"
					aria-selected="false"
				>0 followers</a>
			</li>
			
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="container tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<ul>
					<li th:each="post :${user.getPosts()}">
						<!-- Post -->
						<div th:replace="layout :: post-body"></div>
						<!-- End Post -->
					</li>
				</ul>
			</div>
			<div class="container tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab"><h2>Soon enough......</h2></div>
			
		</div>
	</div>
	</main>
	<footer th:replace="layout::footer"></footer>
</body>
<script type="text/javascript">
	$('#hide-button').click(function() {
		var $target = $(this).parents('li');
		$target.fadeOut("slow");
	});
</script>
</html>