<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:fragment="site-head">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Site to learn delevopment with spring and maven" />
<meta User="User" content="Arthur Gonçalves" />
<meta http-equiv="refresh" content="1000" />
<link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />
<link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
	integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"
/>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"
></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
	integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"
></script>
<script type="text/javascript" src="../public/js/scripts.js" th:src="@{/js/scripts.js}"></script>
<meta th:include="this :: head" th:remove="tag" />
</head>
<body>
	<!-- TRADICIONAL HEADER-->
	<header th:fragment="site-header">
		<nav class="navbar navbar-expand-lg navbar-primary bg-light">
			<a class="navbar-brand" href="index.html" th:href="@{/}">
				<img alt='Arthurzera icon' src="../public/img/arthurzera.jpg" th:src="@{/img/arthurzera.jpg}" width="30px" />
				Arthurzera
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon" style="color: black;"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active" sec:authorize="!isAuthenticated()">
						<a class="nav-link" th:href="@{/users/login}">
							<i class="fas fa-sign-in-alt"></i>
							Login
						</a>
					</li>
					<li class="nav-item active" sec:authorize="!isAuthenticated()">
						<a class="nav-link" th:href="@{/users/register}">
							<i class="fas fa-User-plus"></i>
							Register
						</a>
					</li>
					<li class="nav-item active" sec:authorize="isAuthenticated()">
						<a class="nav-link" th:href="@{'/users/'+${currentUser.getUsername()}+'/profile'}">
							<span>
								Hello,
								<b th:text="${currentUser.getUsername()}">(User)</b>
							</span>
						</a>
					</li>
					<li class="nav-item active" sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="nav-link" th:href="@{/admin/home}">
							<i class="fas fa-key"></i>
							ADMIN
						</a>
					</li>
					<li class="nav-item active" sec:authorize="isAuthenticated()">
						<a class="nav-link" th:href="@{/users/logout}">
							<i class="fas fa-sign-out-alt"></i>
							Logout
						</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
		<div class="container" id="messages"
			th:with="notifyMessages=${session[T(com.arthurzera.social.media.services.NotificationService).NOTIFY_MSG_SESSION_KEY]}"
		>
			<div th:each="msg: ${notifyMessages}">
				<th:block th:switch="${#strings.toLowerCase(msg.type)}">
					<div th:case="danger">
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<span th:text="${msg.text}"></span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<div th:case="warning">
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
							<span th:text="${msg.text}"></span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<div th:case="info">
						<div class="alert alert-info alert-dismissible fade show" role="alert">
							<span th:text="${msg.text}"></span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<div th:case="success">
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							<span th:text="${msg.text}"></span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
				</th:block>
			</div>
			<span th:if="${notifyMessages}" th:remove="all"
				th:text="${session.remove(T(com.arthurzera.social.media.services.NotificationService).NOTIFY_MSG_SESSION_KEY)}"
			></span>
		</div>
	</header>
	<!-- END TRADICIONAL HEADER -->
	<!-- TRADICIONAL POST -->
	<div id="postCard" class="card bg-light my-2" th:fragment="post-body">
		<div class="row">
			<div id="userInformation" class="col-lg-3 col-md-3 col-sm-4 card-body">
				<div class=" d-flex flex-column align-items-center">
					<img class="rounded img-fluid " th:src="${post.getAuthor().getProfilePictureUrl()}" />
					<h5 th:text="${post.getAuthor().getUsername()}">Username</h5>
				</div>
			</div>
			<div id="secondColumn" class="col-lg-9 col-md-8 col-sm-8 ">
				<div class="d-flex card-body ">
					<div class="d-flex flex-column align-items-center justify-content-start mt-4 ml-2">
						<span th:text="${post.getPoints()}"></span>
					</div>
					<div sec:authorize="isAuthenticated()">
						<div th:if="${currentUser.isEvaluated(post)}">
							<div th:switch="${currentUser.getEvaluation(post).name()}">
								<div class="d-flex flex-column align-items-center ml-2 mt-3 upvoted" th:case="'UP'">
									<a id="arrow-up" class="fas fa-arrow-up unstyled" th:href="@{'/posts/'+${post.getId()}+'/upvote'}"></a>
									<span class="fas fa-circle unstyled my-1 " style="font-size: 0.5em"></span>
									<a id="arrow-down" class="fas fa-arrow-down unstyled " th:href="@{'/posts/'+${post.getId()}+'/downvote'}"></a>
								</div>
								<div class="d-flex flex-column align-items-center ml-2 mt-3 downvoted" th:case="'DOWN'">
									<a id="arrow-up" class="fas fa-arrow-up unstyled" th:href="@{'/posts/'+${post.getId()}+'/upvote'} "></a>
									<span class="fas fa-circle unstyled my-1 " style="font-size: 0.5em"></span>
									<a id="arrow-down" class="fas fa-arrow-down unstyled " th:href="@{'/posts/'+${post.getId()}+'/downvote'}"></a>
								</div>
								<div class="d-flex flex-column align-items-center ml-2 mt-3" th:case="'NONE'">
									<a id="arrow-up " class="fas fa-arrow-up unstyled" th:href="@{'/posts/'+${post.getId()}+'/upvote'} "></a>
									<span class="fas fa-circle unstyled my-1 " style="font-size: 0.5em"></span>
									<a id="arrow-down " class="fas fa-arrow-down unstyled " th:href="@{'/posts/'+${post.getId()}+'/downvote'}"></a>
								</div>
							</div>
						</div>
						<div class="d-flex flex-column align-items-center ml-2 mt-3 " th:if="${!currentUser.isEvaluated(post)}">
							<a id="arrow-up " class="fas fa-arrow-up unstyled " th:href="@{'/posts/'+${post.getId()}+'/upvote'}"></a>
							<span class="fas fa-circle unstyled my-1 " style="font-size: 0.5em"></span>
							<a id="arrow-down " class="fas fa-arrow-down unstyled " th:href="@{'/posts/'+${post.getId()}+'/downvote'}"></a>
						</div>
					</div>
					<div class="d-flex flex-column align-items-center ml-2 mt-3 " sec:authorize="!isAuthenticated()">
						<a id="arrow-up " class="fas fa-arrow-up unstyled " th:href="@{ '/posts/'+${post.getId()}+ '/upvote'} "></a>
						<span class="fas fa-circle unstyled my-1 " style="font-size: 0.5em"></span>
						<a id="arrow-down " class="fas fa-arrow-down unstyled " th:href="@{ '/posts/'+${post.getId()}+ '/downvote'} "></a>
					</div>
					<div class=" col-lg-12 col-md-8 col-sm-12 ">
						<div class="d-flex card card-body " style="height: auto;">
							<div th:if="${post.hasTitle()} ">
								<h5 th:text="${post.getTitle()}">Title</h5>
								<hr class="hr_heading" />
							</div>
							<p th:text="${post.getBody()}">Body</p>
						</div>
						<ul class="list-inline list-unstyled ">
							<li class="list-inline-item ">
								<i class="fa fa-calendar-alt "></i>
								<small class="text-muted " th:text="${post.getTimePassed()} ">Post made x ago</small>
							</li>
							<li id="comments " class="list-inline-item ">
								<button id="comments " class="unstyled ">
									<i class="fa fa-comments "></i>
									<small class="text-muted "
										th:text="${post.getComments().size()>1} ? ${post.getComments().size()} + ' Comments' : ${post.getComments().size()} + ' Comment'"
									>x Comments</small>
								</button>
							</li>
							<li class="list-inline-item">
								<i class="fa fa-tags"></i>
								<small class="text-muted">Tags:</small>
							</li>
							<li class="list-inline-item" th:each="tag : ${post.getTags()}">
								<a th:href="@{'/tags/'+${tag.getId()}+'/view'}">
									<small class="badge badge-primary" th:text="${tag.getTag()}">Tag</small>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="dropdown">
				<button class="pull-right btn unstyled dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"
				></button>
				<div class="dropdown-menu  dropdown-menu-left" aria-labelledby="dropdownMenuButton">
					<button type="button" id="hide-button" class="dropdown-item" aria-label="Close" data-toggle="tooltip" data-placement="top"
						title="Hide comment"
					>
						<span aria-hidden="true">Hide</span>
					</button>
					<a class="dropdown-item" th:href="@{'/posts/'+${post.getId()}+'/view'}">See post page</a>
					<div th:if="${post.getAuthor()} == ${currentUser}">
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{'/posts/'+${post.getId()}+'/delete'}">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END TRADICIONAL POST -->
	<!-- TRADICIONAL COMMENT -->
	<div id="commentCard" class="card bg-light my-2" th:fragment="comment-body">
		<div class="row">
			<div id="userInformation" class="col-lg-3 col-md-3 col-sm-4 card-body">
				<div style="height: 100%" class=" d-flex flex-column align-items-center">
					<img class="rounded img-fluid " th:src="${comment.getUser().getProfilePictureUrl()}" />
					<h5 th:text="${comment.getUser().getUsername()}">Username</h5>
				</div>
			</div>
			<div id="secondColumn" class="col-lg-9 col-md-8 col-sm-8 ">
				<div class="d-flex card-body " style="height: 100%;">
					<div sec:authorize="isAuthenticated()">
						<div th:if="${currentUser.isEvaluated(comment)}">
							<div th:switch="${currentUser.getEvaluation(comment).name()}">
								<div class="d-flex flex-column align-items-center ml-2 mt-3 upvoted" th:case="'UP'">
									<a id="arrow-up" class="fas fa-arrow-up unstyled" th:href="@{'/comments/'+${comment.getId()}+'/upvote'}"></a>
									<span class="fas fa-circle unstyled my-1 " style="font-size: 0.5em"></span>
									<a id="arrow-down" class="fas fa-arrow-down unstyled " th:href="@{'/comments/'+${comment.getId()}+'/downvote'}"></a>
								</div>
								<div class="d-flex flex-column align-items-center ml-2 mt-3 downvoted" th:case="'DOWN'">
									<a id="arrow-up" class="fas fa-arrow-up unstyled" th:href="@{'/comments/'+${comment.getId()}+'/upvote'} "></a>
									<span class="fas fa-circle unstyled my-1 " style="font-size: 0.5em"></span>
									<a id="arrow-down" class="fas fa-arrow-down unstyled " th:href="@{'/comments/'+${comment.getId()}+'/downvote'}"></a>
								</div>
								<div class="d-flex flex-column align-items-center ml-2 mt-3" th:case="'NONE'">
									<a id="arrow-up " class="fas fa-arrow-up unstyled" th:href="@{'/comments/'+${comment.getId()}+'/upvote'} "></a>
									<span class="fas fa-circle unstyled my-1 " style="font-size: 0.5em"></span>
									<a id="arrow-down " class="fas fa-arrow-down unstyled " th:href="@{'/comments/'+${comment.getId()}+'/downvote'}"></a>
								</div>
							</div>
						</div>
						<div class="d-flex flex-column align-items-center ml-2 mt-3 " th:if="${!currentUser.isEvaluated(comment)}">
							<a id="arrow-up " class="fas fa-arrow-up unstyled " th:href="@{'/comments/'+${comment.getId()}+'/upvote'}"></a>
							<span class="fas fa-circle unstyled my-1 " style="font-size: 0.5em"></span>
							<a id="arrow-down " class="fas fa-arrow-down unstyled " th:href="@{'/comments/'+${comment.getId()}+'/downvote'}"></a>
						</div>
					</div>
					<div class="d-flex flex-column align-items-center ml-2 mt-3 " sec:authorize="!isAuthenticated()">
						<a id="arrow-up " class="fas fa-arrow-up unstyled " th:href="@{ '/comments/'+${comment.getId()}+ '/upvote'} "></a>
						<span class="fas fa-circle unstyled my-1 " style="font-size: 0.5em"></span>
						<a id="arrow-down " class="fas fa-arrow-down unstyled " th:href="@{ '/comments/'+${comment.getId()}+ '/downvote'} "></a>
					</div>
					<div class=" col-lg-12 col-md-8 col-sm-12 ">
						<div class="d-flex card card-body " style="height: auto;">
							<p th:text="${comment.getBody()}">Body</p>
						</div>
						<ul class="list-inline list-unstyled ">
							<li class="list-inline-item ">
								<i class="fa fa-calendar-alt "></i>
								<small class="text-muted " th:text="${comment.getTimePassed()} ">Comment made x ago</small>
							</li>
							<li id="comments " class="list-inline-item ">
								<button id="comments " class="unstyled ">
									<i class="fa fa-comments "></i>
									<small class="text-muted "
										th:text="${post.getComments().size()>1} ? ${comment.getComments().size()} + ' Comments' : ${comment.getComments().size()} + ' Comment'"
									>x Comments</small>
								</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="dropdown">
				<button class="pull-right btn unstyled dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"
				></button>
				<div class="dropdown-menu  dropdown-menu-left" aria-labelledby="dropdownMenuButton">
					<button type="button" id="hide-button" class="dropdown-item" aria-label="Close" data-toggle="tooltip" data-placement="top"
						title="Hide comment"
					>
						<span aria-hidden="true">Hide</span>
					</button>
					<a class="dropdown-item" th:href="@{'/comments/'+${comment.getId()}+'/view'}">See comment page</a>
					<div th:if="${comment.getUser()} == ${currentUser}">
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{'/comments/'+${comment.getId()}+'/delete'}">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END TRADICIONAL COMMENT-->
	<!-- TRADICIONAL FOOTER -->
	<footer th:fragment="site-footer">
		<div class="container">
			<hr />
			<span class="text-muted">Admin: Arthur Gonçalves Azevedo</span>
			<br />
			<span class="text-muted">Contact email: arthuzeramicroblog@gmail.com</span>
			<br />
			<span class="text-muted">Phone: +55 79 4002-8922</span>
		</div>
	</footer>
	<!-- END TRADICIONAL FOOTER -->
</body>
</html>